.setup {
    font-family: $main-font-size;
    height: 100vh;
    background-image: linear-gradient(to right, #8C1111, rgb(248, 58, 58));
    @include flex-box(row, center, center); 
    &__form-container {
        @include flex-box(column, center, center); 
        width: 40rem;
        height: 45rem;
        @include shadow();
    }
    .form {
        text-align: center;
        width: 70%;
        @include flex-box(column, center, center); 
        &__label {
            padding: 2rem;
            align-self: stretch;
        }
        &__input {
            align-self: stretch;
        }
        &__input--cigarets,
        &__input--duration,
        &__input--price {
            border: none;
            border-bottom: solid black 1px;
        }
        &__input:focus {
            outline:none;
        }
        &__button {
            &:focus {
                outline:none;
            }
            margin-top: 3rem;
            text-transform: uppercase;
            border:none;
            width: 20rem;
            height: 4rem;
            color: $white-color;
            background-image: linear-gradient(to right, rgb(140, 17, 17), rgb(247, 58, 58));
            cursor: pointer;
            transition: ease-out 1s;
            &:hover {
                border-radius: 1rem;
            }
        }
    }
}