.header {
    @include flex-box(none, flex-end, none);
    background: $white-color;
    &__list {
        list-style-type: none;
        width: 100%;
        @include flex-box(none, flex-end, none);
        padding-right: 5rem;
        line-height: 5rem;
    }
    &__item {
        padding-right: 4rem;
        font-weight: 500;
        font-size: 2rem;
        color: $black-color;
        cursor: pointer;
        &:hover {
            color: $red-color-4;
            transition: 1s;
            
        }    
    }
}