.header {
    @include flex-box(none, flex-end, none);
    background: $reed;
    &__list {
        list-style-type: none;
        width: 100%;
        @include flex-box(none, flex-end, none);
        padding-right: 5rem;
    }
    &__item {
        padding-right: 4rem;
        color: $white-color;
        cursor: pointer;
        &:hover {
            color: $black-color;
            transition: 1s;
            
        }    
    }
}