$black-color: #060808;
$white-color: #FFF;

$red-color-1: #8C1111;
$red-color-2: #f83a3a;
$red-color-3: #B8090E;
$red-color-4: #D22828;

$main-font-size: 'Nunito', sans-serif;


$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;




