$black-color: #060808;
$white-color: #FFF;
$red-color: #B8090E;
$light-red-color: #EA5F6B;
$another-red: #8C2D27;
$another-gray: #9D9185;
$gray-color: #8D8F8F;
$deep-blue: #0C154A;
$reed: #D22828;

$main-font-size: 'Nunito', sans-serif;


$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;




